.ima{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;

}
.idtext{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.catContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.catContainer:hover{
    
    background-color: #282c34
    ;
}
.photos{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    }

.link{
    text-decoration: none;
    color: #fff;
}